<!DOCTYPE html>
{% extends '../../foundation/templates/base_elements/base.html' %}
{% block head %}
    {% if are_bought %} Мои {% else %} Все {% endif %}
    курсы{% endblock head %}

{% block main %}
{% for course in page_obj %}
    {% include 'course_small_product.html' with course=course %}
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
</html>