{% extends '../../foundation/templates/base_elements/base.html' %}
{% block head %}
    {% if is_bought %} Изучить {% else %} Купить {% endif %}
    курс по {{ course.name }}{% endblock head %}
{% block main %}
    {{ course.name }}
    {{ course.long_description }}
    <form method="post" action="">
    {% if is_bought %}
        <a href="{% url 'course_info_my' course_id=course.id %}">Приступить к изучению</a>
    {% else %}
        <input name="course_id" value="{{ course.id }}">
        <button name="bye">Купить</button>
    {% endif %}
    </form>
{% endblock main %}