<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<form method="post">
    {% csrf_token %}    {{ form.as_table }}
    <button>form</button>
</form>
<form method="post">
    {% csrf_token %}    {{ test_create_form.as_table }}
    <button name="test_create">form_test_create</button>
</form>

<form method="post">
    {% csrf_token %}    {{ test_update_form.as_table }}
        <button name="test_update">form_test_update</button>
</form>

</body>
</html>