@font-face {
    font-family: 'CygreBold';
    src: url('../../../public/font/Cygre-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'CygreExtraBold';
    src: url('../../../public/font/Cygre-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Cygre';
    src: url('../../../public/font/Cygre-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Bergamasco Regular';
    src: url('../../../public/font/Bergamasco Regular.ttf') format('truetype');
}
*{
    font-family: 'Cygre', sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 1rem;
    line-height: 1.5;
}
body {
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}
main {
        margin-top: 0;
}
#error-page{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#error-page h1{
    color: #1A2751;
    font-family: 'CygreBold', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}
#error-page p{
    color: #5F6886;
    font-size: 1rem;
    font-weight: 400;
}
#error-page a{
    color: #E47A7C;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}
.error-layout{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

}
.error-layout footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* fonts */
h1, h2, h3, h4, h5, h6 , p, a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.not-main-h1{
    color: #1A2751;
    font-family: 'CygreBold', sans-serif;
    font-size: 2rem;
    font-weight: 700;

}
.main-h1{
    color: #1A2751;
    font-family: 'Bergamasco Regular', sans-serif;
    font-size: 6rem;
    font-weight: 500;
    line-height: 1;

}
.main-h2{
    color: #E47A7C;
    font-family: 'Bergamasco Regular', sans-serif;
    font-size: 2rem;
    font-weight: 600;

}

.not-main-h2{
    color: #1A2751;
    font-family: 'CygreBold', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.not-main-h3{
    color:  #E47A7C;

    font-size: 1rem;
    font-weight: 400;
}
.main-h4{
    color: #1A2751;
    font-family: 'CygreBold', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;


}
.not-main-p{
    color:  #5F6886;
    /*text-indent: 2rem;*/
    font-size: 1rem;
    font-weight: 400;
}
.contact-us span{
    color: #1A2751;

    font-size: 1rem;
    font-weight: 700;
}
.line-module .advantages-holder .advantage h3{
    color: #1A2751;
    font-family: 'CygreBold', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}
 .back{
    color:rgba(26, 39, 81, 1);
    font-size: 1rem;
     font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.main .upper-line .upper-line__header span{
    font-size: 1.2rem;
    color: rgba(228, 122, 124, 1);
}
.main .upper-line .upper-line__header span:first-child{
    color: rgba(26, 39, 81, 1);
}
.main .upper-line .name-line{
    color:  #E47A7C;
    text-decoration: none;
}

.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 1000;
}
.loading__spinner{
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #1A2751;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width:768px ) {
    main {
        margin-top: calc(4rem + 24px);
    }
    .main-h1{
        font-size: 3rem;
    }
    .main-h2{
        font-size: 1.5rem;
    }
    .not-main-h1{
        font-size: 1.5rem;
        line-height: 1.5;
    }
    .not-main-h2{
        text-align: center;
    }
    .loading__spinner{
        width: 30px;
        height: 30px;
        border: 3px solid #f3f3f3;
        border-top: 3px solid #1A2751;
    }

}

