@font-face {
    font-family: 'CygreBold';
    src: url('../../../public/font/Cygre-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'CygreExtraBold';
    src: url('../../../public/font/Cygre-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Cygre';
    src: url('../../../public/font/Cygre-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Bergamasco Regular';
    src: url('../../../public/font/Bergamasco Regular.ttf') format('truetype');
}
*{
    font-family: 'Cygre', sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 1rem;
    line-height: 24px;
}
body {
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}
main {
        margin-top: 0;
}

/* fonts */
h1, h2, h3, h4, h5, h6 , p, a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.not-main-h1{
    color: #1A2751;
    font-family: 'CygreBold', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 50px;
}

.not-main-h2{
    color: #1A2751;
    font-family: 'CygreBold', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.not-main-h3{
    color:  #E47A7C;
    /*font-family: 'Cygre', sans-serif;*/
    font-size: 0.875rem;
    font-weight: 400;
}
.not-main-p{
    color:  #5F6886;
    /*font-family: 'Cygre', sans-serif;*/
    font-size: 1rem;
    font-weight: 400;
}
.contact-us span{
    color: #1A2751;
    /*font-family: 'Cygre', sans-serif;*/
    font-size: 1rem;
    font-weight: 700;
}
.line-module .advantages-holder .advantage h3{
    color: #1A2751;
    font-family: 'CygreBold', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}

@media (max-width:768px ) {
    main {
        margin-top: calc(4rem + 26px);
    }

   .not-main-h1{
        font-size: 30px;
           line-height: 30px;
    }
    .not-main-h3{
        font-size: 14px;
    }
    .not-main-h2{
        text-align: center;
        font-size: 20px;
        font-weight: 700;
    }
}

