  .small-product-box {
    background-color:#fff;
    display: flex;
    border-radius: 15px;
    width: 300px;
    height: 500px;
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
    gap: 1rem;
  }
  .small-product-box .small-product-text-box,
  .small-product-box > a{
      display: flex;
        flex-direction: column;
      justify-content: space-between;
      gap: 1rem;

  }
  .small-product-box:hover {
    filter: drop-shadow(10px 10px 40px rgba(26, 39, 81, 0.30))
    drop-shadow(-5px -5px 20px rgba(255, 255, 255, 0.70));
  }
  .small-product-box.line-page{
      text-decoration: none;
      display: grid;
        grid-template-columns: 1fr 2fr;
      width: 50%;
      height: 300px;
      /*flex-direction: row;*/
      gap: 1rem;
      padding: 1rem;
      /*width: */
  }
  .small-product-box.line-page.active-sub{
      height: 35vh;
      width: 45%;
  }

    /*.small-product-box.line-page .small-product-img-box{*/
    /*    width: 30%;*/
    /*}*/

  .small-product-name {
    color: #1a2751;
    font: 700 1.125rem Cygre, sans-serif;
  }
  .small-product-description {
    color: #5f6886;
    font: 400 0.875rem Cygre, sans-serif;
  }
  .small-product-info-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
      padding: .5rem 0;
      /*grid-area: box_;*/
  }
.small-product-img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    height: 200px;
    width: 200px;
    /*grid-area: img;*/
}
.line-page .small-product-img-box,  .small-product-img-box-subst{
    flex-shrink: 0;
    /*background: #DAD6E4;*/
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    max-height: 100%;
    width: unset;
    height: unset;


    /*grid-area: img;*/
}
.small-product-img-box-subst{
    max-height: 10rem;
    max-width: 10rem;

}
.small-product-img-box-subst img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;

}
.small-product-img-box img{
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 100%;
}
  .small-product-main-box {
    justify-content: space-between;
      align-items: center;
    display: flex;
      width: 100%;
  }
  .small-product-price, .small-product-progress {
    color: #e47a7c;
    font: 700 24px Cygre, sans-serif;
  }
  .small-product-time{
    color: #dad6e4;
    font: 700 18px Cygre, sans-serif;
  }
  .small-product-link {
      align-self: flex-end;
      justify-content: flex-end;
  }
  .small-product-link a, .small-product-link span{
    color: #5F6886;
    font-family: CygreBold, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;


  }
  .small-product-link img
{
    height: 1.5rem;
    width: 1.5rem;
}
@media (max-width: 768px) {
     .line-page .small-product-img-box{
         height: 300px;
     }
    .small-product-box.line-page{
        width: 90%;
        height: unset;
        max-height: 100%;
    }
    .small-product-box.line-page.active-sub{
      height: unset;
        width: 90%;
        max-height: 100%;
    }
    .small-product-box {
        padding: 20px;

    }
    .small-product-name {
      font-size: 1.5rem;
    }
    .small-product-description {
      font-size: 1rem;
    }
    .small-product-price, .small-product-progress {
      font-size: 24px;
    }
    .small-product-time {
      font-size: 20px;
    }
    .small-product-img-box-subst img{

    object-fit: cover;

}
  }
  @media (max-width: 576px) {
    .small-product-box.line-page {
        padding: 20px;
        grid-template-columns: 1fr;
    }
    .small-product-name {
      font-size: 1rem;
    }
    .small-product-description {
      font-size: 0.875rem;
    }
    .small-product-price, .small-product-progress {
      font-size: 18px;
    }
    .small-product-time {
      font-size: 16px;
    }

  }



