.main-page header{
    background-color: rgba(218, 214, 228, 0);

}

.main article{
    padding-left: 5rem;
    padding-right: 5rem;
}

.main{
    display: flex;
    flex-direction: column;
    padding: 2rem 0 5rem;
    gap: 3rem;
}
    #products{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    #products .product-holder{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
        width: 100%;
    }
    #products .product-holder .small-product-box{
        width: 300px;

    }
#advantages{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    /*margin: 3rem 0;*/
}
#advantages .slide-holder{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}

.main .slide {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 25%;
}
.upper-line{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 8rem;
    box-shadow: 10px 10px 40px 0
    rgba(26, 39, 81, 0.3);
}
.main .upper-line::before{
    content: '';
    box-shadow: -5px -5px 20px 0
        rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

}
.main .upper-line__body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 2rem;
}
.main .upper-line__body .partner{
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.main .upper-line__body .partner img{
    max-width: 100%;
}
#main-title{
    position: relative;
}

#main-title .main-title-img .main-title-img_mobile{
    visibility: hidden;
    opacity: 0;
    position: absolute;
}
#main-title .main-title-img .main-title-img_desktop {
    position: absolute;
    width: calc(100% + 5rem);
    top: -10rem;
    right: 0;
    z-index: -1;


}
#main-title .main-title-img .main-title-img_desktop img{
    object-fit: cover;
    object-position: center;

}
#main-title .main-title-description{
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        /*justify-content: center;*/
        /*align-items: center;*/
}
#main-title .main-title-description-header{
    display: flex;
    flex-direction: column;
    gap: .1rem;
}
#main-title .main-title-description .button-holder{
        display: flex;
        column-gap: 2rem;
        row-gap: 1rem;
        flex-wrap: wrap;
        /*justify-content: center;*/
        align-items: center;
}

@media (max-width:992px ) {
    .main{
        padding: 2rem 0;
        gap: 2rem;
    }
    .main article{
        padding: 0 3rem;
    }
    .main .upper-line{
        padding: 3rem 3rem;
    }
    .main .upper-line__body{

        flex-wrap: wrap;
        gap: 3rem;
    }
}
@media (max-width: 768px) {
    .main-page header{
        background-color: rgba(218, 214, 228, 1);
    }
    .main{
        padding: 0 0 2rem;
        gap:1.5rem;
        margin-top: calc(4rem + 24px);
    }
    .main article{
        padding: 0 1rem;
    }
    .main .slide-holder{
        flex-direction: column;
        gap: 3rem;

    }
    #advantages{
        text-align: center;
    }

   .main .slide{
        width: unset;
        padding: 0 1rem;
    }
    .main .upper-line{
        padding: 2rem 1rem;
    }

    #main-title{

        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
        background-color: rgba(218, 214, 228, 1);
        align-items: center;
        padding:0 2rem 5rem;

    }
    #main-title .main-title-img{
        height: 35vh;
        width: 100%;
        position: relative;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    #main-title .main-title-img .main-title-img_mobile{
        visibility: visible;
        opacity: 1;
        height: 100%;
        width: auto;
        position: relative;


    }
    #main-title .main-title-img .main-title-img_desktop {
    visibility: hidden;
    opacity: 0;
    position: absolute;
        width: 0;
        height: 0;
    }
    #main-title .main-title-description{
        width: 100%;

    }
    #products .product-holder{
        gap: 1rem;
        justify-content: center;
    }
    #products .product-holder .small-product-box{
        width: 200px;

    }
    /*#products .product-holder .small-product-box:nth-child(3),*/
    /*#products .product-holder .small-product-box:nth-child(4){*/
    /*    visibility: hidden;*/
    /*    opacity: 0;*/
    /*    position: absolute;*/
    /*}*/


}





