
h1, h3, h2, p{
    margin: 0;
    padding: 0;

}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    border: #E47A7C solid 1px;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

.close{
    text-decoration: none;
    width: 1.3rem;
    height: 2px;
    background: rgba(26, 39, 81, 1);
    position: absolute;
    transform: rotate(45deg);
    top: 1rem;
    right: 1rem;
}
.close::before{
    width: 100%;
    height: 100%;
    background: rgba(26, 39, 81, 1);
    position: absolute;
    transform: rotate(90deg);
    content: '';
    top: 0;
}

.main-line-product{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-between;
    padding: 2rem 5rem 5rem;
}
/*.main-line-product section p{*/
/*    font: 400 16px 'Cygre', sans-serif;*/
/*    color: #5F6886;*/
/*}*/


.main-line-product input[type="radio"], .main-line-product input[type="checkbox"]{
    visibility: hidden;
    opacity: 0;
    position: absolute;
}
.main-line-product .controls-text {
    display: grid;
    grid-template-areas:
    "label1 label2 label3"
    "div div div";
    gap: 1rem;

}
 .main-line-product .controls-text input[type="radio"] + label{
    font: 700 16px 'Cygre', sans-serif;
    color: #5F6886;
    cursor: pointer;
    position: relative;
    width: fit-content;
}
 .main-line-product .controls-text input[type="radio"] + label::before{
    content: '';
    width: 100%;
    height: 2px;
    transition: all 0.3s;
    opacity: 0;
    position: absolute;
    bottom: -2px;
}
.main-line-product .controls-text input[type="radio"]:checked + label::before{

    background: rgba(26, 39, 81, 1);
    opacity: 1;
}
.main-line-product .controls-text input[type="radio"]:checked + label{
    color: rgba(26, 39, 81, 1);
}

.main-line-product .controls-text label[for="description-radio"]{
    grid-area: label1;
}
.main-line-product .controls-text label[for="usage-radio"]{
    grid-area: label2;
}
.main-line-product .controls-text label[for="composition-radio"]{
    grid-area: label3;
}
.main-line-product .controls-text > div{
    grid-area: div;
    display: flex;
}
.main-line-product .controls-text > div > div{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
 #description-radio:checked ~ div #description-text,
 #usage-radio:checked ~ div #usage-text,
 #composition-radio:checked ~ div #composition-text{
    opacity: 1;
    visibility: visible;
    position: relative;
}

.main-line-product .link-to-other{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    font: 700 16px 'Cygre', sans-serif;
    color: rgba(228, 122, 124, 1);
}
.main-line-product .link-holder{
    display: flex;
    gap: 2rem;
    /*align-items: center;*/
}
.main-line-product .main-info {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.main-line-product article{
    display: flex;
    gap: 2rem;
    position: relative;
}
.main-line-product a.blue.button{
        width: max-content;

        padding-left: 2rem;
        padding-right: 2rem;
}
.main-line-product .product-price{
    font: 700 2rem 'Cygre', sans-serif;
    color: rgba(228, 122, 124, 1);
}
.main-line-product .product-description{
       font: 400 1rem 'Cygre', sans-serif;
    color: rgba(95, 104, 134, 1) ;
}
.main-line-product .product-name{
    font: 700 2rem 'Cygre', sans-serif;
    color: rgba(26, 39, 81, 1);
}

.main-line-product .img-holder-section {
    display: flex;
    gap: 1rem;
}
.main-line-product .img-holder-section .img-holder,
.main-line-product .img-holder-section .img-main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.main-line-product .img-holder-section .img-holder .img-small{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    width: 7rem;
    /*height: 10rem;*/
    max-height: 7rem;
    transition: all 0.3s;

}
.main-line-product .img-holder-section .img-holder .img-small img{
    width: 100%;
    /*height: auto;*/
    border-radius: 10px;
    object-fit: cover;
}
.main-line-product .img-holder-section .img-main{
    border-radius: 20px;
    overflow: hidden;
    /*height: max-content;*/
    flex-grow: 2;
    display: flex;
    justify-content: center;
    width: 600px;
    height: 800px;
    transition: all 0.3s;
     position: relative;
}
.main-line-product .img-holder-section .img-main img{
         width: 100%;
         /*max-height: 50vh;*/
         height: auto;
         object-fit: contain;
    transition: all 0.3s;
         border-radius: 15px;

    }
.line-product-clinch {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
}
.line-product-clinch-holder{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}
.line-product-clinch-img-holder{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.line-product-clinch-img-holder__card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
    max-width: 40%;
}
.line-product-clinch-img-holder__card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
@media (max-width: 1500px) {
    .main-line-product .img-holder-section{
        flex-direction: column;
        /*justify-content: flex-end;*/
        gap: 2rem;
    }
    .main-line-product .img-holder-section .img-holder{
        flex-direction: row;
        gap: .5rem;
    }
    .main-line-product .img-holder-section .img-main{
        /*width: 100%;*/

        width: 400px;
        height: 600px;
        justify-content: start;
        align-self: center;
    }
    .main-line-product .img-holder-section .img-holder .img-small{
        max-width: 5rem;
        height: 5rem;
    }
    .main-line-product .img-holder-section .img-main img{

         border-radius: 10px;

    }
}



@media (max-width:992px ) {
    .main-line-product{
        padding: 2rem 3rem;
        gap: 2rem;
    }
    .line-product-clinch {
        padding: 2rem 3rem;
    }
   .main-line-product article{
        flex-direction: column;
        gap: 2rem;
    }
    .main-line-product .img-holder-section{
        position: relative;
        flex-direction: column-reverse;
        align-items: center;
    }
    .main-line-product .img-holder{
        flex-direction: column;
    }
    .main-line-product .img-holder-section .img-main{
         /*max-width: 100%;*/
         height: 60vh;
         width: 100%;

        /*object-fit: scale-down;*/
        justify-content: center;
        align-items: center;
        border-radius: 0;
         position: relative;

    }
    .main-line-product .img-holder-section .img-main img{
         object-fit: contain;
         height: 100%;
         border-radius: 0;

    }
    .main-line-product .link-holder{
         flex-direction: column;
         gap: 1rem;
     }
     .main-line-product .img-holder .img-small{
         border-radius: 0;
     }


}
@media (max-width: 768px) {
    .line-product-clinch {
        padding: 2rem 1rem;
    }
    .line-product-clinch-img-holder__card{

    max-width: 90%;
}
.line-product-clinch-img-holder__card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
    .main-line-product{
        gap: 1rem;
        padding: 0 0 5rem;
    }
    .main-line-product .close {
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }
   .main-line-product  main{
        padding:0 0 5rem;
        gap:2rem;
    }
     .main-line-product .link-to-other, .main-line-product .back, .main-line-product p{
        font-size: 15px;
    }
   .main-line-product .product-name, .main-line-product .product-price{
        font-size: 24px;
    }
    .main-line-product .product-description{
        font-size: 16px;
    }
    .main-line-product .controls-text{
        gap: .5rem;
    }

    .main-line-product  .img-holder-section .img-main{
         /*max-width: 100%;*/
         height: 55vh;
         width: 100%;
        justify-content: center;
        align-items: center;
            border-radius: 0;
         position: relative;

    }
       .main-line-product .img-holder-section .img-main img{
         object-fit: contain;
         max-height: 100%;
         border-radius: 0;

    }
         /*.img-small img, .img-small{*/
         /*    border-radius: 0;*/
         /*}*/
    .main-line-product .main-info > p, .main-info > div, .main-info > a{
         margin: 0 1rem;
     }

   .main-line-product .img-holder{
        /*flex-direction: column;*/
        bottom: 0;
        /*left: 1rem;*/
        z-index: 1;
        position: absolute;
        gap: 2rem;

    }
   .main-line-product .img-holder-section .img-holder .img-small {
        border: solid 2px #5F6886;
        /*border-color: ;*/
        background-color: #FFFFFF;
        height: 1rem;
        width: 1rem;
        border-radius: 1rem;
    }
    .main-line-product .img-small img{
        opacity: 0;
        height: 100%;
        width: 100%;
        /*visibility: hidden;*/
        position: absolute;
    }
    /*.img-holder-section .img-holder {*/
    /*    justify-content: start;*/
    /*}*/


}
@media (max-width: 432px) {
       .main-line-product .img-holder{
        /*left: 1rem;*/
    }
    
}
