{% extends 'base_elements/base.html' %}
{% block title %}Урок "{{ lesson.name }}"{% endblock title %}
{% block main %}
    {{ lesson.name }}
    {{ lesson.description }}
    {% for file in files %}
        <a href="{{ file }}" download >Скачать</a>
    {% endfor %}
    <a href="{% url 'teacher_lesson_edit' course_id=lesson.module.course.id module_id=lesson.module.id lesson_id=lesson.id %}">Изменить</a>
    {% if update_form %}
        <form action="" method="post">
        {% csrf_token %}
    {#        TODO formset for q and a#}
        {{ form.as_p }}
        <button name="save">Сохранить</button>
        </form>
    {% endif %}
    <a href="{% url 'teacher_lesson_delete' course_id=lesson.module.course.id module_id=lesson.module.id lesson_id=lesson.id %}">Удалить</a>
    {% if delete_form %}
        <form action="" method="post">
        {% csrf_token %}
    {#        TODO formset for q and a#}
        {{  form.as_p }}
        <button name="save">Подтвердить удаление</button>
        </form>
    {% endif %}
{#    {% if not test %}#}
{#            <a href="{% url 'teacher_test_add' course_id=lesson.module.course.id module_id=lesson.module.id lesson_id=lesson.id %}">Добавить тест</a>#}
{#    {% else %}#}
{#            <a href="{% url 'teacher_test_add' course_id=lesson.module.course.id module_id=lesson.module.id lesson_id=lesson.id %}">Изменить тест</a>#}
{#    {% endif %}#}
    <a href="{% url 'teacher_lessons_all' course_id=lesson.module.course.id module_id=lesson.module.id %}">Назад</a>
    {#    TODO formset file #}
{% endblock main %}