{% extends 'base_elements/base.html' %}
{% block title %}Все уроки модуля "{{ module.name }}"{% endblock title %}
{% block main %}
    {{ module.name }}
    {{ module.description }}
    <a href="{% url 'teacher_lesson_delete' module.id %}">Удалить модуль</a>
    <a href="{% url 'teacher_module_edit' course_id=module.course.id module_id=module.id%}">Изменить модуль</a>
    <a href="{% url 'teacher_lesson_add' course_id=module.course.id module_id=module.id%}">Добавить урок</a>
    {% for lesson in page_obj %}
        {% include 'teacher/lesson_teacher.html' with lesson=lesson %}
    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    <a href="{% url 'teacher_modules_all' course_id=module.course.id %}">Назад</a>

{% endblock main %}